@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --default-font: "Noto Sans", sans-serif;
  --text: #241d1d;
  --bg: #ffffff;
  --primary: #394adf;
  --secondary: #efefef;
  --accent: #4d5eff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  font-family: var(--default-font), var(--system-font);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  font-size: 14px;
}

span {
  user-select: none;
}

h1 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
  font-weight: 600;
}

i {
  margin-right: 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  .form-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > h3 {
      flex: 1;
    }
  }

  .input-list {
    display: none;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    &.active {
      display: flex;
    }
  }
}

label {
  color: #241d1d83;
  width: 100%;
  border-radius: 6px;
  position: relative;

  & span {
    position: absolute;
    display: inline-block;
    cursor: text;
    top: 16px;
    left: 16px;
    transition: transform 200ms ease-out, font-size 200ms ease-out;
  }

  &:has(input:focus),
  &:has(input:valid) {
    & span {
      transform: translate(0px, -8px);
      font-size: 0.75em;
    }
  }

  &:has(input[type="date"]) {
    & span {
      display: none;
    }
  }
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  padding-top: 1.3rem;
  padding-bottom: 0.8rem;
  border-radius: 12px;
  border: none;
  resize: none;
  font-family: inherit;
  background: var(--secondary);
  outline-offset: -1px;
  outline: 1px solid transparent;
  transition: outline 260ms ease-out;

  &:focus {
    outline: 1px solid rgba(0, 0, 0, 0.212);
    &[type="date"]::before {
      position: absolute;
      transform: translateY(-20px);
      font-size: 0.75em;
      margin-right: 0;
    }
  }

  &[type="date"]::before {
    content: attr(placeholder);
    color: #241d1d83;
    font-size: 14px;
    font-family: var(--default-font);
    margin-right: 2em;
    transform: translateY(-2px);
    transition: transform 200ms ease-out, font-size 200ms ease-out;
  }
}

button {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-family: inherit;
  color: var(--text);
  font-weight: 500;
  font-size: 1em;
  border: none;
  background: none;
  padding: 0.5rem 1.2rem;
  border-radius: 12px;

  &.active {
    pointer-events: none;
    color: var(--bg);
    background: var(--accent);
  }

  &:hover {
    color: var(--bg);
    > span.button-flair {
      transform: scale(300);
    }
  }

  /* small buttons */
  &.small {
    padding: 8px 12px;
    > i {
      margin: 0;
      color: var(--text);
    }
    > span.button-flair {
      background: var(--secondary);
    }
  }

  /* clear button */
  &.clear {
    &:hover > i {
      color: white;
    }
    > i {
      color: rgb(216, 49, 49);
    }
    > span.button-flair {
      background: rgb(216, 49, 49);
    }
  }

  > span.button-flair {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    background: var(--primary);
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: transform 200ms ease-in;
  }
}

header {
  position: sticky;
  top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;

  @media (width<=578px) {
    & {
      top: 470px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3rem;
    z-index: -1;
    transform: translateY(-45px);
    background-color: white;
  }

  > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--accent);
    border-radius: 12px;

    > button {
      width: 100%;
      border-radius: 0;
    }
  }
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  @media (width>=578px) {
    & {
      position: sticky;
      bottom: 0;
      background: white;
      padding-bottom: 3rem;
    }
  }
}

/* layout */
#root {
  position: relative;
  display: flex;
  gap: 1rem;
  margin: 2rem 0;

  @media (width<=578px) {
    & {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  .builder {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .resume {
    /* a4 size = 8.3in x 11.7in : 595px x 842px : 1/1.41*/
    position: sticky;
    top: 2rem;
    width: 100%;
    height: clamp(421px, 70vw, 842px);
    aspect-ratio: 1/1.41;
    background: white;
    z-index: 10;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 8px;

    @media (width<=578px) {
      &::after {
        position: absolute;
        left: 0;
        content: "";
        width: 100%;
        height: 2.2rem;
        z-index: -1;
        transform: translateY(-37px);
        background-color: white;
        outline: 1px solid white;
      }
    }
  }
}
